.container
  .row
    .col-lg-12
      .margin-tb
        %h3 Publicaciones
        = link_to 'Publicar', new_post_path, remote: true, class: 'btn btn-success pull-right'
    .col-md-10
      .row
        %ul#posts.col-sm-6
          = render @posts